<div class = "row">
	<div class = "small-8 columns">
		<h3>Best Restaurants</h3>
		<% if @restaurants.any? %>
			<% @restaurants.each do |restaurant| %>
				<div class = "restaurant_item">
					<div class="restaurant_title">
						<h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
					</div>
					<% if restaurant.category %>
						<div class ="restaurant_category">
							Category: <%= link_to restaurant.category, category_path(restaurant.category) %>
						</div>
					<% end %>
					<!-- <% if restaurant.location %> -->
						<div class ="restaurant_location">
							Location: <%= link_to restaurant.location, location_path(restaurant.location) %>
						</div>
					<!-- <% end %> -->
					<div class="button-bar">
						<ul class="button-group round">
							<li class="tiny button secondary"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></li>
							<li class="tiny button secondary"><%= link_to "Delete", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are yousure?' } %></li>
							<li class="tiny button secondary"><%= link_to "Review", new_restaurant_review_path(restaurant)	 %></li>
						</ul>
						<ul>
							<li class="average_review">
								<%= star_rating(restaurant.average_score) %>
							</li>
						</ul>
					</div>
				</div>	
			<% end %>
		<% else %>
			No restaurants have been added yet
		<% end %>
		<br>
		<%= link_to 'Add a restaurant', new_restaurant_path, :class => "button" %>
	</div>
	<div class = "small-4 columns review_sidebar">
		<h3>Latest Reviews</h3>
		<% @reviews.each do |review| %>
			<ul class ="no-bullet">
				<li>
					<%= review.created_at.strftime("%d %b %y")  %> - <strong><%= review.restaurant.name %></strong><br>
					
					<em><%= truncate(review.comment, :length => 100) %></em>...<%= link_to "Read more", restaurant_path(review.restaurant) %>
				</li>
			</ul>
		<% end %>
	</div>
</div>



