<div class = "row">
	<div class = "small-8 columns">
		<h3>Best Restaurants</h3>
		<% if @restaurants.any? %>
			<%= render 'restaurants' %>
		<% else %>
			No restaurants have been added yet
		<% end %>
		<br>
		<%= link_to 'Add a restaurant', new_restaurant_path, :class => "button" %>
	</div>
	<div class = "small-4 columns review_sidebar">
		<h3>Latest Reviews</h3>
		<% @reviews.each do |review| %>
			<ul class ="no-bullet">
				<li>
					<%= review.created_at.strftime("%d %b %y")  %> - <strong><%= review.restaurant.name %></strong><br>
					
					<em><%= truncate(review.comment, :length => 100) %></em>...<%= link_to "Read more", restaurant_path(review.restaurant) %>
				</li>
			</ul>
		<% end %>
	</div>
</div>



