<div class="row">
	<%=form_for [@restaurant, @review] do |f| %>
		<div class="row">
			<%= f.label :comment %>
			<%= f.text_area :comment %>
		</div>
		<div class="row">
			<%= f.label :rating %>
			<%= f.select :rating, 1..5, :class => "average_review" %>
		</div>
		<div class="row">
			<%= f.submit %>
		</div>
	<% end %>
</div>