<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Yelp Clone | Makers Academy" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="fixed">
        <nav class="top-bar nav_inner" data-topbar>
          <div id = "logo">Yelp Clone</div>
        </nav>
      </div>
    </header>
    
    <main>
      <div class = "content_wrapper">
        <div class ="notice"><%= flash[:notice] %></div>
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>
    </main>
  </body>
</html>